# 11. Write a program that sorts all the elements of the list according to the first letter, irrespective of their cases (uppercase or lowercase). Note: Do not use any inbuilt sorting function

In [1]:
courses = ['python', 'Hadoop', 'data science', 'Scala', 'C', 'c++']
s = ' '
for i in range(len(courses)):      # Iterating through the list
    for j in range(i+1, len(courses)):      # Iterating through the same list but with indices i+1
        if(courses[i][0].lower() > courses[j][0].lower()):    # Comparing the first characters of the words at index i and i+1. 
            courses[i], courses[j] = courses[j], courses[i]     # Swapping the words position if the above condition is met.

print(courses)

['C', 'c++', 'data science', 'Hadoop', 'python', 'Scala']

# 12. Write a program that prints a list of sour fruits from the below tuple:
fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'),
          ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'),
          ('Orange','sour'), ('Blueberries','sweet'), 
          ('Limes','Sour') ) 
Output: Sour Fruits: ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

In [2]:
fruits = (('Orange','Sour'),
          ('Green Mango', 'Sour'),
          ('Papaya','sweet'),
          ('Kiwi','Sour'),
          ('Apples','sweet'),
          ('Banana','sweet'),
          ('Raspberry','sour'),
          ('Pineapple','Sour')
          )                              # Tuple containing fruits and their corresponding taste
sour = []                                # Empty list to append sour fruits output
fruits_dict = dict(fruits)               # Converting the tuple into dictionary

for fruit in fruits_dict:                # Iterating fruits i.e. keys from the dictionary
    taste = fruits_dict[fruit].lower()   # Converting uppercase words to lowercase
    if taste == 'sour':                  # Comparing if taste is sour
        sour.append(fruit)               # Append the sour fruits to the list

print('Sour Fruits: ',sour)

Sour Fruits:  ['Orange', 'Green Mango', 'Kiwi', 'Raspberry', 'Pineapple']

# 13. Given below are the list of positive and negative words. Also a list of tweets is provided. Separate out the positive and negative comments


positive = ['good','awesome', 'best', 'nice']


negative = ['worst','awful', 'bad']


tweets = ['This government policies are good', 'bad implementation', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', 'The wine tastes awful', 'It's nice to hear this little kid's laugh']

In [3]:
positive = ['good','awesome', 'best', 'nice']     
negative = ['worst','awful', 'bad']                      

positive_sentiment = []                           # Empty list for storing sentences having positive sentiment
negative_sentiment = []                           # Empty list for storing sentences having negative sentiment

tweets = ['This government policies are good', 
            'bad implementation', 
            'The way he played showed that he is one of the best players in the world', 
            'Her acting in the play was awesome', 'The wine tastes awful', 
            "It's nice to hear this little kid's laugh",
          "The service here is extremly bad"
         ]        


for sentence in tweets:                             # Iterating sentencesfrom the list lst
    for pos in positive:                              # Iterating words from the list po_sent
        if pos in sentence:                           # Looking if words from po_sent are present in the sentence
            positive_sentiment.append(sentence)       # Appending the positive sentences in the list
    for nes in negative:                              # Iterating words from the list po_sent
        if nes in sentence:                           # Looking if words from po_sent are present in the sentence
            negative_sentiment.append(sentence)       # Appending the positive sentences in the list
    

print("Positive Sentiment: ",positive_sentiment)     # Printing sentences with positive sentiment
print("\nNegative Sentiment: ",negative_sentiment)

Positive Sentiment:  ['This government policies are good', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', "It's nice to hear this little kid's laugh"]

Negative Sentiment:  ['bad implementation', 'The wine tastes awful', 'The service here is extremly bad']

# 14. Write a program that performs multiplication of the following two matrix

X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]

In [4]:
X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]

# create a zero matrix to store the product of matrices
result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

for i in range(len(X)):
    for j in range(len(Y[0])):
        for k in range(len(Y)):
             result[i][j] += X[i][k] * Y[k][j]
for r in result:
    print(r)

[19, 37, 34]
[43, 97, 73]
[67, 157, 112]

# 15. Write a program to remove space from keys of the given dictionary

Employee = {'emp 01' : 'Raj', 'emp 02' : 'Sheela', 'emp 0 3 ': 'Joseph'}; 

Output:
New dictionary :  {'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

In [5]:
# creating a dictionary of type string 
  
Employee = {'emp 01' : 'Raj', 'emp 02' : 'Sheela', 'emp 0 3 ': 'Joseph'}; 
  
# removing spaces from keys 
# storing them in same dictionary 
Employee = {x.replace(' ', ''): v for x, v in Employee.items()} 
  
# printing new dictionary 
print (" New dictionary : ",Employee)

 New dictionary :  {'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

# 16.  Write a program to display the subjects for which the scores are between 300 and 500 (inclusive) in the given dataframe

Use the dataframe given below:

Subject	Score
Maths	345
Physics	432
Chemistry	456
Biology	234
Geology	254

In [6]:
# import pandas
import pandas as pd
# given data
data= [['Maths',345], ['Physics',432], ['Chemistry',456], ['Biology',234], ['Geology',254]]

# 'columns' assigns the names to the columns in the dataframe
df = pd.DataFrame(data, columns=['Subject','Score'])
print(df)
print('\n')

# retrieve the subjects for which marks are between 7 and 9
print('Subjects for which marks are between 300 and 500:\n', df['Subject'][df['Score'].between(300, 500)])

     Subject  Score
0      Maths    345
1    Physics    432
2  Chemistry    456
3    Biology    234
4    Geology    254


Subjects for which marks are between 300 and 500:
 0        Maths
1      Physics
2    Chemistry
Name: Subject, dtype: object

# 17. Write a program to find numbers between 10000 to 20000 from a given array

Use the list given below:

Sales = [1432,143223,2043332,1642357,54327,754338,12459,75435,224454,1433,12447,25532,86674,74338,12678]

In [7]:
# import numpy
import numpy as np
# given list
Sales = [1432,143223,2043332,1642357,54327,754338,12459,75435,224454,1433,12447,25532,86674,74338,12678]
Sales = np.array(Sales)

# create arrays containing numbers between 10 and 16
num_greater_than_10000 =  Sales[Sales > 10000]
num_less_than_20000 =  Sales[Sales < 20000]

# 'intersect1d' returns common elements in the two arrays
np.intersect1d(num_greater_than_10000, num_less_than_20000)

array([12447, 12459, 12678])

# 18. Write a program to sort the dataframe by Rank (in ascending order)

Use the dataframe given below:

Name	Rank
Joy	115
Mia	451
Karan	341
Tom	84

In [8]:
# given data
data= [['Joy',115], ['Mia',451], ['Karan',341], ['Tom',84]]

# 'columns' assigns the names to the columns in the dataframe
df_student = pd.DataFrame(data, columns=['Name','Rank'])
print('original dataframe:\n', df_student)
print('\n')

# sort the dataframe by Rank
print('Sorted dataframe:')
df_student.sort_values(by = ['Rank'])

original dataframe:
     Name  Rank
0    Joy   115
1    Mia   451
2  Karan   341
3    Tom    84


Sorted dataframe:

    Name  Rank
3    Tom    84
0    Joy   115
2  Karan   341
1    Mia   451

# 19. Use the data given in the question 18, to do the following:
 Write a program to swap the 1st and 2nd row in a dataframe

In [9]:
# save the copy of 1st and 2nd row in new variables 'b' and 'c'
b, c = df_student.iloc[0].copy(), df_student.iloc[1].copy()

# swap the rows
df_student.iloc[0], df_student.iloc[1] = c, b

print('updated datagrame:\n', df_student)

updated datagrame:
     Name  Rank
0    Mia   451
1    Joy   115
2  Karan   341
3    Tom    84

# 20. Write a program to replace 0 and 1 in Gender variable with M and F

Use the dataframe given below:

Id	Name	Age	Gender
1	Mia	    47	1
2	Sara	38	1
3	Joy	    47	0
4	Karan	41	0

In [10]:
# given dataframe
data={'Id':[1,2,3,4],
      'Name':['Mia','Sara','Joy','Karan'],
      'Age':[47,38,47,41],
      'Gender':['1','1','0','0']
      }
df_info= pd.DataFrame(data)
print('original dataframe:\n', df_info)
print('\n')

# replace M and F in 'Gender' column with 0 and 1
df_info['Gender'] = df_info['Gender'].map({'0':'M', '1':'F'})

print('updated dataframe:')
df_info

original dataframe:
    Id   Name  Age Gender
0   1    Mia   47      1
1   2   Sara   38      1
2   3    Joy   47      0
3   4  Karan   41      0


updated dataframe:

   Id   Name  Age Gender
0   1    Mia   47      F
1   2   Sara   38      F
2   3    Joy   47      M
3   4  Karan   41      M